<!doctype html>
<html lang="en">

  <%- include ../common/header.html%>

<body class="header-fixed">
  <div class="page-wrapper">
    <%- include ../common/top.html%>

    <div class="main-container">
        <%- include ../common/left.html%>

        <div class="content">
          <div class="row">
              <div class="col-md-12">
                  <div class="card">
                      <h3 class="card-header bg-light">
                          详情 
                          <a href="classify/addClassify" class="btn btn-primary">增加</a>
                      </h3>

                      <div class="card-body">
                          <div class="table-responsive">
                              <table class="table table-hover table-bordered">
                                  <thead>
                                  <tr>
                                    <th>序号ID</th>
                                    <th>名字</th>
                                    <th>介绍</th>
                                    <th>价格</th>
                                    <th>类型</th>
                                    <th>图片</th>
                                    <th>操作</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                    <% for(var i=0;i<classifyArr.length;i++){%>
                                        <tr>
                                            <th scope="row"><%= classifyArr[i].id%></th>
                                            <td scope="row"><%= classifyArr[i].name%></td>
                                            <td scope="row"><%= classifyArr[i].introduce%></td>
                                            <td><%= classifyArr[i].price%></td>
                                            <td><%= classifyArr[i].dataItem%></td>
                                            <td>
                                              <img src="<%= classifyArr[i].img%>" alt="" width="80" height="50">
                                            </td>
                                            <td>
                                                <a href="/classify/updateClassify?id=<%= classifyArr[i].id%>">
                                                  <i class="fa fa-wrench"></i>
                                                  编辑
                                                </a>                  
                                                <a href="/classify/deleteClassify?id=<%= classifyArr[i].id%>&img=<%= classifyArr[i].img%>">
                                                    <i class="fa fa-trash"></i>
                                                    删除</a>                                          
                                            </td>
                                        </tr>
                                         <% }%>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>

          </div>
          <div class="footer">
            <h4 class="text-center">Copyright &copy; 2020.Company name All rights reserved.陈勇</h4>
         </div>
      </div>
    </div>
</div>

<script src="./vendor/jquery/jquery.min.js"></script>
<script src="./vendor/popper.js/popper.min.js"></script>
<script src="./vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="./vendor/chart.js/chart.min.js"></script>
<script src="./js/carbon.js"></script>
<script src="./js/demo.js"></script>
</body>
</html>
