<!doctype html>
<html lang="en">

  <%- include ../common/header.html%>

<body class="header-fixed">
  <div class="page-wrapper">
    <%- include ../common/top.html%>

    <div class="main-container">
        <%- include ../common/left.html%>

        <div class="content">
          <div class="row">
              <div class="col-md-12">
                  <div class="card">
                      <h3 class="card-header bg-light">
                          用户                          
                      </h3>

                      <div class="card-body">
                          <div class="table-responsive">
                              <table class="table table-hover table-bordered">
                                  <thead>
                                  <tr>
                                    <th>用户名</th>
                                    <th>密码</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                    <% for(var i=0;i<adminArr.length;i++){%>
                                        <tr>
                                            <th scope="row"><%= adminArr[i].username%></th>
                                            <td scope="row"><%= adminArr[i].password%></td>
                                        </tr>
                                         <% }%>
                                  </tbody>
                              </table>
                          </div>
                      </div>
                  </div>
              </div>

          </div>
          <div class="footer">
            <h4 class="text-center">Copyright &copy; 2020.Company name All rights reserved.陈勇</h4>
          </div>
      </div>
      
    </div>
   
</div>

<script src="./vendor/jquery/jquery.min.js"></script>
<script src="./vendor/popper.js/popper.min.js"></script>
<script src="./vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="./vendor/chart.js/chart.min.js"></script>
<script src="./js/carbon.js"></script>
<script src="./js/demo.js"></script>
</body>
</html>
