<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-title">cake</li>

            <li class="nav-item">
                <a href="/" class="nav-link active">
                    <i class="icon icon-speedometer"></i> 主页
                </a>
            </li>

            <li class="nav-item nav-dropdown">
                <a href="#" class="nav-link nav-dropdown-toggle">
                    <i class="icon icon-key"></i> 主页商品 <i class="fa fa-caret-left"></i>
                </a>

                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a href="/new" class="nav-link">
                            <i class="icon icon-target"></i> 新品
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="/popular" class="nav-link">
                            <i class="icon icon-target"></i> 人气
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="/birthday" class="nav-link">
                            <i class="icon icon-target"></i> 生日
                        </a>
                    </li>
                </ul>
            </li>

            <li class="nav-item nav-dropdown">
                <a href="#" class="nav-link nav-dropdown-toggle">
                    <i class="icon icon-energy"></i> 分页商品 <i class="fa fa-caret-left"></i>
                </a>

                <ul class="nav-dropdown-items">
                    <li class="nav-item">
                        <a href="/cake" class="nav-link">
                            <i class="icon icon-energy"></i> 蛋糕
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="iceCream" class="nav-link">
                            <i class="icon icon-energy"></i> 冰淇淋
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="/afternoonTea" class="nav-link">
                            <i class="icon icon-energy"></i> 咖啡下午车
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="/bread" class="nav-link">
                            <i class="icon icon-energy"></i> 面包
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="/normalTemperatureCake" class="nav-link">
                            <i class="icon icon-energy"></i> 常温蛋糕
                        </a>
                    </li>

                    <li class="nav-item">
                        <a href="/gift" class="nav-link">
                            <i class="icon icon-energy"></i> 设计师礼品 
                        </a>
                    </li>

                </ul>
            </li>

            <li class="nav-item">
                <a href="/detail" class="nav-link ">
                    <i class="icon icon-drawer"></i> 主页商品详情
                </a>
            </li>

            <li class="nav-item">
                <a href="/classify" class="nav-link ">
                    <i class="icon icon-drop"></i> 分类商品详情
                </a>
            </li>

            <li class="nav-title">个人</li>

            <li class="nav-item nav-dropdown">
                <a href="#" class="nav-link nav-dropdown-toggle">
                    <i class="icon icon-umbrella"></i> 管理账号 <i class="fa fa-caret-left"></i>
                </a>

                <ul class="nav-dropdown-items">

                    <li class="nav-item">
                        <a href="/admin" class="nav-link">
                            <i class="icon icon-umbrella"></i> 用户信息
                        </a>
                    </li>

                </ul>
            </li>
        </ul>
    </nav>
</div>