.container {
  margin-top: 48px;
  font-size: 12px;
  background-color: #F6F6F6;
}
.balance-title {
  height: 45px;
  background: #fff;
  color: #707070;
  padding-top: 20px;
  margin-bottom: 18px;
  text-align: right;
  padding-right: 15px;
}
.balance-title span {
  font-size: 14px;
  color: #442818;
}
.balance-title .money {
  font-size: 30px;
}
.balance-list .balance-top-title {
  color: #7D7D7D;
  line-height: 40px;
  padding-left: 15px;
}
.balance-list .list-content {
  background: #fff;
  padding: 0 15px;
}
.balance-list .list-content .balance-list-title,
.balance-list .list-content .balance-list-content {
  background: #fff;
  height: 46px;
  line-height: 46px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #f0f0f0;
}
.balance-list .list-content .balance-list-title .balance-list-contentNone,
.balance-list .list-content .balance-list-content .balance-list-contentNone {
  width: 100%;
  text-align: center;
}
.balance-list .list-content .balance-list-content .deposit {
  color: red;
  font-weight: 700;
}
